.App {
  text-align: center;
}
.Wrapper{
  background-color: black;
  padding: 10px;
  border: 10pc;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.input-wrapper{
  display: flex;
  justify-content: space-between;
  width: 200px;
  align-items: center;

}
.input-wrapper input{
  border-radius: 4%;
  border:0;
  background-color: darkorange;
  width: 160%;
  padding: 6px;
  height: 20px;
}
.input-wrapper button{
width: 20px;
height: 20px;
border-radius: 50%;
padding: 0;

}